/* Manavjot Singh [07/05/2021] */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-gap: 0vh;
  --secondary-gap: 3vh;
  --text-padding: 0 3vw;
  --element-padding: 5vh 0;
}

body {
  background-image: url(images/background_aircraftparts.jpg);
  display: flex;
  flex-direction:  column;
  align-items: center;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: max(3vmin, 17px);
  gap: var(--primary-gap);
}

h1 {
  padding: var(--text-padding);
}

p {
  line-height: 1.5;
  padding: var(--text-padding);
}

.button {
  text-decoration: none;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px 20px;
}

nav {
  margin: 0;
  position: absolute;
  left: 20px;
  top: 20px;

}

#burger {
  font-size: 40px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: block;
  background: none;
  border: none;
  border-radius: 60px;
}

#close_btn {
  font-size: 40px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: none;
  background: none;
  border-radius: 60px;
  border: none;
}

nav #pages {
  margin-top: 1vh;
  list-style: none;
  display: none;
  position: absolute;
  flex-direction: column;
  font-weight: bold;
  top: 50px;
}

nav #pages li {
  margin: 1vh 0px;
  padding: 10px 20px;
  border: darkslategray 1px solid;
  border-radius: 15px;
  width: max-content;
  background-color: white;
}

nav #pages a {
  text-decoration: none;
  color: darkslategray;
}


#showcase {
  color: darkslategray;
  display: flex;
  flex-direction:  column;
  align-items: center;
  text-align: center;
  gap: var(--secondary-gap);
  padding: var(--element-padding);
}

#showcase #logo{
height: 50vw;
max-height: 300px;
}

#showcase .button {
  color: darkslategray;
  border: darkslategray 1px solid;
}

#showcase .button:hover {
  background-color: darkslategray;
  color: white;
}

@media only screen and (min-width: 600px) {
  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  section {
    width: 50vw;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--element-padding);
  gap: var(--secondary-gap);
}

#section_a {
  background-color: teal;
  color: white;
}

#section_a .button {
  color: white;
  border: white 1px solid;
}

#section_a .button:hover {
  background:white;
  color: teal;
}

#section_b {
  background-color: darkslategray;
  color: white;
}

#section_b .button {
  color: white;
  border: white 1px solid;
}

#section_b .button:hover {
  background:white;
  color: darkslategray;
}

#section_about .button {
  color: darkslategray;
  border: darkslategray 1px solid;
}

#section_about .button:hover {
  background-color: darkslategray;
  color: white;
}
