* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-gap: 0vh;
    --secondary-gap: 3vh;
    --text-padding: 0 3vw;
    --element-padding: 5vh 0;
}

nav {
    margin: 0;
    position: absolute;
    left: 20px;
    top: 20px;
}

.nav_btn {
    font-size: 60px;
    padding-bottom: 7px;
    padding-left: 1px;
    height: 80px;
    width: 80px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 80px;
}

.nav_btn:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.nav_btn:active {
    color: teal;
}

#burger {
    display: block;
}

#close_btn {
    display: none;
}

nav #pages {
    top: 100px;
    list-style: none;
    display: none;
    position: absolute;
    flex-direction: column;
    font-weight: bold;
}

nav #pages li {
    margin: 1vh 0px;
    padding: 10px 20px;
    border: darkslategray 2px dotted;
    border-radius: 15px;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: max(4vmin, 20px);
    color: darkslategray
}

nav #pages li:hover {
    color: white;
    background-color: darkslategray;
    border: darkslategray 2px solid;
}

nav #pages li:active {
    color: white;
    background-color: teal;
    border: teal 2px solid;
}

nav #pages a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

nav #pages #current_page{
    color: white;
    background-color: teal;
    border: teal 2px solid;
}